<!doctype html>
<html>
<head>
    <title>Create Reservation</title>
</head>
<body>
    <h1>Create Reservation</h1>
    <form action="/reservations/" method="post">
        <label>Name: <input type="text" name="guest_name"></label><br>
        <label>Check In: <input type="date" name="check_in"></label><br>
        <label>Check Out: <input type="date" name="check_out"></label><br>
        <label>Room ID: <input type="number" name="room_id"></label><br>
        <button type="submit">Reserve</button>
    </form>
</body>
</html>
